@import "tailwindcss";
/* Styling Scrollbar khusus untuk Properties Panel */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Lebar scrollbar tipis saja */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a; /* Warna zinc-800 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* Warna zinc-700 saat di-hover */
}

/* Firefox support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}
